<div class="container app idx">
<% content_for(:title, "All Groups") %>
<%= display_groups('list',@groups)  %>

<div class="row">
    <%= link_to 'New Group', new_group_path, :class=>"col-sm-12 text-center btn btn-primary add-btn" %>
</div>
</div>