<div class="container app mt-5">
<% content_for(:title, "New Groups") %>

<h1 class="text-center font-weight-bold">Create Transaction Group</h1>
<br>
<br>
<br>
<div class="row">
    <div class="col-xs-1 col-md-3"></div>
    <div class="col-xs-10 col-md-6 ">
        <%= form_with(model: @group, local: true) do |f| %>
            <div class="form-group">
                <%= f.text_field :name, autofocus: true, placeholder: "Group Name", class: "form-control fieldy" %>
            </div>
            <br>
            <br>
            <div class="form-group">
                <%= f.file_field :image, class: "form-control fieldy" %>
            </div>
            <br>
            <br>
            <div class="text-center">
            <%= submit_tag("Create", :class=>"btn btn-success btn-lg btn-block") %>
        <% end %>
        </div>
    </div>
    <br>
    <br>
    <div class="col-xs-1 col-md-3 "></div>
</div>
</div>
 


