
<div class="conatiner w-100 mt-5 ">
    <div class="text-center  mb-5 w-50">
        <h1 class="text-center"> Sign Up Now</h1>
    </div>   
    <div class="w-50 text-center">
        <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>

            <div class="form-group">
                <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Enter your username", class: "form-control fieldy " %>
            </div>
            <br>
            <br>
            <%= f.submit "Sign up", class: 'btn btn-success btn-block btn-lg' %>

        <% end %>

        </div> 

    </div>

</div>

