/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/dist/css/bootstrap';

$base-color: white;
$base-color2: #5fbf23;
$base-color3: #3778c2;

body {
  background-color: white;
}

.totals {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.5rem;

  span:first-child {
    color: $base-color;
  }

  span:last-child {
    font-weight: bold;
  }
}

.listings {
  background-color: #fff;
  margin: 1.5rem 0.2rem;
}

.grey-color {
  color: $base-color;
}

.blue-background {
  background-color: $base-color3;
}

.white {
  color: white !important;
}

.bold {
  font-weight: bold;
}

.add-btn-background {
  background-color: $base-color2;
  padding: 1.5rem;
}

.out {
  margin-top: 2rem !important;
}

.add-btn {
  border: 1px solid white;
  padding: 1.5rem;
  color: white;
  text-decoration: none;
}

.fieldy {
  height: 4rem;
}

.app {
  height: 100vh;
  width: 43vw;
  background-image: linear-gradient(to top left, var(--main), #08111d);
  background-position: center;
  background-repeat: no-repeat;
}

.links,
.links a {
  color: white;
  font-size: 2rem;
  margin-right: 2rem;
  text-decoration: none;
}

.btons {
  margin-top: 21rem !important;
  width: 70%;
  margin-left: 8rem !important;
}

.signup {
  margin-left: 35rem !important;
}

.wel {
  margin-left: 25rem !important;
}

.link {
  font-size: 2rem;
  font-weight: bold !important;
}