<div class="container">
<% content_for(:title, "My Expenses") %>

<%= display_expenses('list',@expenses)  %>

<div class="row add-btn-background">
    <%= link_to 'NEW EXPENSE', new_expense_path, :class=>"col-sm-12 text-center btn btn-primary " %>
</div>
</div>